@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111010;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@layer components {
  .nav {
    width: 100%;
    height: 15vh;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .card-image-base {
    @apply w-full h-full absolute inset-0;
  }

  .card-image-form {
    @apply card-image-base z-[2] bg-ligthDark;
  }

  .card-image-content {
    @apply card-image-base z-[3] mix-blend-multiply filter;
    mask-image: url("@img/mancha-blanca.png");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("@img/mancha-blanca.png");
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
  }

  .color-fun {
    @apply bg-gradient-to-r 
         from-purple-300 via-lime-200 to-purple-300
         bg-[length:300%_100%];
  }

  .color-fun-inverse {
    @apply bg-gradient-to-r 
           from-lime-200 via-purple-300 to-purple-300 
           bg-[length:200%_200%];
  }

  .commun-button {
    @apply color-fun
           px-6 py-1 font-bold text-2xl;
  }

  .commun-button:active {
    @apply scale-95;
  }

  .button-animated {
    @apply commun-button 
         text-black
           rounded-full
           transition-all duration-500 ease-in-out
           bg-[length:200%_100%] bg-no-repeat
           bg-[position:0%_100%]
           hover:bg-[position:100%_100%];
    box-shadow: 1px 2px 5px rgb(0, 0, 0);
  }

  .button-underline {
    @apply commun-button
           relative transition-all duration-500 ease-in-out
           text-white
           bg-[length:200%_4px] bg-no-repeat
           bg-[position:0%_100%]
           hover:tracking-widest
           hover:bg-[position:100%_100%];
  }

  .text-gradient-name {
    @apply color-fun
           inline-block text-transparent bg-clip-text
           italic
           animate-text-gradient;
    font-family: "Courier New", Courier, monospace;
  }

  .glassmorphism {
    @apply bg-white/10 backdrop-blur-md rounded-lg border border-white;
  }
}

@keyframes text-gradient {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: -150% center;
  }
  100% {
    background-position: -300% center;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes Run {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--icon-size) * -1);
  }
}

@layer utilities {
  .animate-text-gradient {
    animation: text-gradient 6s linear infinite;
  }

  .animation-blink {
    animation: blink 0.5s step-end infinite;
  }

  .animation-run {
    animation: Run 10s linear infinite;
    animation-delay: calc((10s / var(--cantidad)) * var(--posicion));
  }

  .animation-run-stopped {
    animation-play-state: paused;
  }

  .shadow-fun {
    position: relative;
  }

  .shadow-fun::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #c084fc, #9dff60, #c084fc);
    background-size: 300% 100%;
    filter: blur(43px);
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .card-Size {
    transform: scale(var(--card-size));
    opacity: var(--card-size);
  }
}
